
#home{
  background-image: url('../resources/student.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#small {
  height: 35px;
  width: 75px;
}



.big{
  height: 325px;
  width: 410px;
}