#myModal{
    margin-top: 150px;
  }
  
  #NZAModal{
    margin-top: 150px;
  }
  
  
  #FDCModal{
    margin-top: 150px;
  }


  .mdlimg{
    height: 325px;
  }
  
  .cursor{
    cursor:pointer;
  }
  
  #main{
    margin: auto;
  }


#intro{
    height: 200px;
    width: 500px;
    margin: auto;
  }


  .flex-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}



